@set status-bar {
  :root {
    width: *; 
    height: 1em;
    padding: 0.5em;
    flow: vertical;
    vertical-align: middle;
    line-height: 1em;
    background: #f0f0f0;
    border-top: 1dip solid grey;
  }

  :root span {
    width: *;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    flow: text;
  }
}
